body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h1 span {
  font-weight: bold;
}

h2 {
  font-weight: normal;
}

h3 {
  font-size: 1.2rem;
}

h5 {
  margin: 0;
  font-size: 17px;
}

input:focus,
select:focus {
  outline: none;
}

.main {
  display: flex;
  height: 100%;
}

.trips-select-section {
  flex: 2;
  margin: 30px;
}

.search {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.search input {
  padding: 1.1rem;
  padding-left: 35px;
  width: 20rem;
  border: none;
  border-radius: 10px;
  background-color: #f2f4f8;
  font-size: 15px;
  color: black;
}

.search input::placeholder {
  color: #000000;
}

.search img {
  position: absolute;
  margin-left: 10px
}

.trips {
  max-height: 400px;
  overflow: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 12rem);
  grid-template-rows: 17rem;
  justify-content: space-between;
  gap: 2px;
}

.trip-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.trip-card-info {
  padding: 10px;
  border: 1px solid #e6e6e6;
}

.selected-trip {
  border: 2px solid rgb(142, 172, 255);
}

.selected-trip .trip-card-info {
  border: none;
}

.trip-card-info p {
  margin: 0;
  margin-top: 10px;
  color: #828282;
  font-size: 14px;
}

.trip-card img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.add-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  background-color: #f2f4f8;
  transition: background-color 0.5s;
  cursor: pointer;
}

.add-new:hover {
  background-color: #b5b7bd;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.days p {
  margin: 10px;
}

.day-card {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-card {
  font-size: 10px;
  color: #828282;
}

.low-high-temp {
  color: black;
}

.day-card-weather-emoji {
  font-size: 40px;
  cursor: default;
}

.status {
  flex: 1;
  background-color: #110e3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.today-weather {
  text-align: center;
}

.status p {
  margin: 5px;
}

.current-day {
  font-size: 50px;
}

.current-temp {
  display: flex;
  align-items: flex-start;
}

.celsius {
  font-size: 30px;
  font-weight: lighter;
}

.current-weather-emoji {
  font-size: 60px;
}

.current-weather-emoji span {
  font-size: 15px;
}

.current-city {
  font-size: 45px;
  font-weight: lighter;
}

.timer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 10px;
  text-align: center;
}

.number-time-card {
  font-size: 25px;
  font-weight: bold;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
}

.modal-header {
  justify-content: space-between;
  display: flex;
  padding: 0 20px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.modal-header * {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-header p {
  font-size: 20px;
  cursor: pointer;
}

.required-field-symbol {
  color: red;
}

select {
  color: rgb(136, 136, 136);
}

select.selected {
  color: rgb(0, 0, 0);
}

.fields {
  display: flex;
  padding: 5% 20px;
  flex-direction: column;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.form-select {
  padding: 10px;
  border-color: #dfdfdf;
}

.date-input {
  border: 1px solid #dfdfdf;
}

.field-title {
  margin: 10px 0;
}

.modal-buttons {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  gap: 10px
}

.modal-button {
  padding: 10px;
  background-color: #ffffff;
  transition: background-color 0.5s;
  border: 1px solid;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #000000;
  color: #fff;
}

.accept-button {
  border: none;
  background-color: rgb(0, 145, 255);
  color: #fff;
}

.pagination-button {
  margin: 5px;
}

@media (max-width: 1200px) {
  .trips {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 12rem);
    grid-template-rows: 17rem;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .trips {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 12rem);
    grid-template-rows: 17rem;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .trips {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 11rem);
    grid-template-rows: 17rem;
    justify-content: space-between;
  }

  .trip-card img {
    width: 11rem;
    height: 11rem;
    object-fit: cover;
  }

  .add-new {
    width: 11rem;
    height: 11rem;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .status p {
    margin: 25px;
  }

  .modal-content {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .trips {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: 17rem;
    justify-content: space-between;
  }

  .trip-card img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }

  .add-new {
    width: 10rem;
    height: 10rem;
  }
}